<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>User login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body class="m-5" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <form >
                        {% csrf_token %}
                        <div class="card card-body">
							<p>Are you sure you want to delete Folder: "{{category}}"?</p>
            				<p>If the Folder is not empty, the Photos will be deleted aswell!</p>
								<form action="{% url 'delete_folder'  category.id  %}" method="POST">
									{% csrf_token %}
                					<a href="{% url 'gallery' %}" class="btn btn-dark btn-block btn-sm m-1">Cancel</a>
									<input class="btn btn-danger" type="submit" name="Confirm">
								</form>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>